github "ReactiveX/RxSwift"
github "RxSwiftCommunity/NSObject-Rx"
github "RxSwiftCommunity/Action"
github "RxSwiftCommunity/RxRealm"
github "SwiftyBeaver/SwiftyBeaver"
github "RxSwiftCommunity/RxSwiftExt"
github "SwifterSwift/SwifterSwift"
